@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.menu-bar{
    display: flex;
    height: 100%;
    max-width: 1040px;
    justify-content: flex-end;
    align-items: center;
}

.menu-bar ul{
   display: flex;
   align-items: stretch;
   height: 100%;
}

.menu-bar li{

    list-style: none;
    display: flex;
    align-items: center;
}

.menu-bar a{
    text-decoration: none;
    padding: 0 10px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu-bar li:hover{
    background-color:#F6F6F9; 
}

.profile-aside{
    position: relative;
    border: 1px solid rgb(194, 194, 235);
    background-color:#F6F6F9;
    margin: 10px;
    margin-left: 0;
    border-radius: 10px;
    padding: 5px 10px;
}
aside{
    position: absolute;
    left:220px;
    top: 250px;
    box-sizing: border-box;
    align-items: center;
    width: 300px;
}

#index-pic img{
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(194, 194, 235);
    top: -180px;
    left: 50px;
    z-index: 2;
}

#index-pic {
    height: 25px;
}

.profile-friends{
    display: flex;
    flex-basis: 70%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.profile-friends{
    display: flex;
    flex-basis: 70%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.profile-friends img{
    margin: 5px;
    display: flex;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(194, 194, 235);
}

/* body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(240, 240, 250);
}

header{
    
    position: absolute;
    margin: 0;
    top:0;
}


nav{
    width: 100%;
    padding: 0;
    padding-left: 200px;
    background-color: rgb(194, 194, 235);
    z-index: 4;
    height: 50px;
    position: fixed;
    top: 0; 
}



.profile-cover{
    position: relative;
    top: 30px;
    left: 220px;
}

.profile-cover img{
    height: 320px;
    width: 1040px;
    border-radius: 20px;
}





.profile-aside{
    position: relative;
    border: 1px solid rgb(194, 194, 235);
    background-color:#F6F6F9;
    margin: 10px;
    margin-left: 0;
    border-radius: 10px;
    padding: 5px 10px;
}

#index-pic img{
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(194, 194, 235);
    top: -180px;
    left: 50px;
    z-index: 2;
}

#index-pic {
    height: 25px;
}

main{
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    left: 520px;
    width: 740px;
}

.profile-section{
    position: relative;
    border-radius: 20px;
    border: 1px solid rgb(194, 194, 235);
    background-color:rgb(253, 253, 253);
    padding: 10px;
    padding-top: 0;
    margin: 10px;
    margin-right: 0;
}

.profile-galery {

    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}

.profile-galery img{
    display: flex;
    width: 120px;
    height: 120px;
    border: 1px solid rgb(194, 194, 235);
}


#music iframe{
    margin: 10px;
} */
